Channel ID,Channel URL,Channel title
UCY1kMZp36IQSyNx_9h4mpCg,http://www.youtube.com/channel/UCY1kMZp36IQSyNx_9h4mpCg,Mark Rober
UCBJycsmduvYEL83R_U4JriQ,http://www.youtube.com/channel/UCBJycsmduvYEL83R_U4JriQ,Marques Brownlee
UC6nSFpj9HTCZ5t-N3Rm3-HA,http://www.youtube.com/channel/UC6nSFpj9HTCZ5t-N3Rm3-HA,Vsauce
UCHnyfMqiRRG1u-2MsSQLbXA,http://www.youtube.com/channel/UCHnyfMqiRRG1u-2MsSQLbXA,Veritasium
UCX6OQ3DkcsbYNE6H8uQQuVA,http://www.youtube.com/channel/UCX6OQ3DkcsbYNE6H8uQQuVA,MrBeast
UCsBjURrPoezykLs9EqgamOA,http://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA,Fireship
UCmtyQOKKmrMVaKuRXz02jbQ,http://www.youtube.com/channel/UCmtyQOKKmrMVaKuRXz02jbQ,Sebastian Lague
UCj1VqrHhDte54oLgPG4xpuQ,http://www.youtube.com/channel/UCj1VqrHhDte54oLgPG4xpuQ,Stuff Made Here
UC-lHJZR3Gqxm24_Vd_AJ5Yw,http://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw,PewDiePie
UCFhXFikryT4aFcLkLw2LBLA,http://www.youtube.com/channel/UCFhXFikryT4aFcLkLw2LBLA,NileRed
UCBa659QWEk1AI4Tg--mrJ2A,http://www.youtube.com/channel/UCBa659QWEk1AI4Tg--mrJ2A,Tom Scott
UCAL3JXZSzSm8AlZyD3nQdBA,http://www.youtube.com/channel/UCAL3JXZSzSm8AlZyD3nQdBA,Primitive Technology
UCUMwY9iS8oMyWDYIe6_RmoA,http://www.youtube.com/channel/UCUMwY9iS8oMyWDYIe6_RmoA,No Boilerplate
UCmtS42Q-EJRTHs_17S6ZGkw,http://www.youtube.com/channel/UCmtS42Q-EJRTHs_17S6ZGkw,3Blue1Brown
UCHC5vNa7VdqYdDW9oKxMFQQ,http://www.youtube.com/channel/UCHC5vNa7VdqYdDW9oKxMFQQ,Matt D'Avella
UCRBHiacaQb5S70pljtJYB2g,http://www.youtube.com/channel/UCRBHiacaQb5S70pljtJYB2g,EposVox
UCmGSJVG3mCRXVOP4yZrU1Dw,http://www.youtube.com/channel/UCmGSJVG3mCRXVOP4yZrU1Dw,Johnny Harris
UCqJ-Xo29CKyLTjn6z2XwYAw,http://www.youtube.com/channel/UCqJ-Xo29CKyLTjn6z2XwYAw,Game Maker's Toolkit
UCm9K6rby98W8JigLoZOh6FQ,http://www.youtube.com/channel/UCm9K6rby98W8JigLoZOh6FQ,LockPickingLawyer
UCy0tKL1T7wFoYcxCe0xjN6Q,http://www.youtube.com/channel/UCy0tKL1T7wFoYcxCe0xjN6Q,Technology Connections
